@charset "utf-08";

/*Azul Oceano: #003366
Laranja Pôr do Sol: #FF6600
Verde Coqueiro: #009966
Amarelo Areia: #FFCC00
Vermelho Coral: #FF6666
*/

body {
	margin: 0 auto;
	padding: 0;
	background-color: #f8eca6;
	font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO DO SITE */

.header {
	background: #009966;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
    height: 32%;
	top: 0;
    
}

.container {
	margin: 0 12%;
	
}


img.logoRoteiro{
    width: 210px;
    height: 150px;

}

h1 {
	display: inline-block;
	width: 23%;
	margin: 0;
	padding: 0;
}

nav {
	display: inline-block;
	width: 70.5%;
	text-align: right;
    
}

nav ul {
	list-style: none;
	padding: 0;
	display: inline;
    
}

nav li {
	display: inline;
	margin: 0 16px;
}

nav li span {
	color: #579fe8;
}

nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
    
}

nav li a:hover {
	color: #FFCC00;
}

nav li.sub {
	margin: 0;
}

h1 img {
	width: 100%;
	margin: 50px 0 0 0;
}

a.temp {
	display: none;
}

/* CARROUSSEL */

section.carroussel {
	display: block;
	width: 100%;
	height: 380px;
	background: url(imagens/carrosel.jpg);
	background-size: 100%;
	margin-top: 100px;
	background-position: center center ;
}

/* APRESENTAÇÃO */

section.apresenta {
	padding: 30px 0 60px 0;
}

div.apr-bloco01 {
	display: inline-block;
	width: 54.5%;
	font-size: 30px;
	text-align: left;
}

div.apr-bloco01 h2 {
	color: #003366;
	text-align: left;
	font-weight: 400;
}

div.apr-bloco01 h2 span {
	color:#FF6600 ;
	margin-bottom: 30px;
	display: block;
}

div.apr-bloco01 p {
	color: #444;
	text-align: justify;
	font-size: 18px;
	width: 86%;
	margin-bottom: 40px;
}

button.saiba {
	background: #009966;
	color: #FFCC00;
	border: 0;
	font-size: 16px;
	padding: 7px 12px;
	border-radius: 7px;
	cursor: pointer;
}

div.apr-bloco02 {
	display: inline-block;
	width: 44.5%;
	text-align: right;
}

div.apr-bloco02 figure {
	margin: 0;
	padding: 0;
}

div.apr-bloco02 img {
	width: 130%;
	box-shadow: 5px 5px 10px #444;
}

/* CARDS */

section.cards {
	margin-top: 20px;
	background: #f3d86a;
	
}
.container-card {
	margin: 5px;
	padding: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1000px; /* Define a largura máxima do contêiner dos cards */
	margin: 0 auto; /* Centraliza o contêiner na página */
	
  }
  
  .container-card div {
	flex: 0 0 calc(33.33% - 5px); /* Define a largura de cada card, com 5 pixels de espaçamento entre eles */
	margin-bottom: 20px; /* Define o espaçamento entre as linhas de cards */
	text-align: center;
	transition: transform 0.3s;
  }


  .container-card div:hover {
	transform: scale(1.1); /* Aumenta o tamanho do card em 10% */
  }
  
  .container-card img {
	width: 100%;
	
  }


  .container-card h1{
	color: white;
	font-weight: bold;
  } 



/*PAGINA HOSPEDAGEM*/

  body#hospedagem {
	background: url(imagens/back_hosp.jpg) top center ;
	background-color: rgba(128, 128, 128, 0.568);
	font-family: Arial, Helvetica, sans-serif;
}



.tituloHospedagem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.555);
}

.hosp {
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	margin-bottom: 20px;
}
 


.pesquisa {
	display: flex;
	justify-content: center;
	
	
}

.pesquisa input[type="text"] {
	padding: 10px;
	width: 300px;
	font-size: 16px;
	padding: 18px;
	margin: 10px;
}


/*PAINA DE CONTATO*/

main.tituloContato{
	margin-top: 20%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body#Contato{
	background-color:#ff660086;
}



hr{
    color: black;
}


fieldset{
    width: 900px;
    margin-top: 10px;
    color:#003366;
    padding: 10px;
    
}


footer.footercontato{
    width: 100%;
	height: 50px;
    text-align: center;           
    background-color: rgba(0, 0, 0, 0.425);
    color:rgb(255, 221, 30) ;
}




